<div>
  <h1>Available Flights</h1>
  <% if !@available_flights.nil? && @available_flights.exists? %>
  <%= form_with url: new_booking_path, method: 'GET' do |form| %>
    <table>
      <thead>
        <th></th><th>Departure Airport</th><th>Arrival Airport</th><th>Date</th><th>Duration</th>
      </thead>
      <tbody>
        <% @available_flights.each do |av| %>
          <tr>
          <td><%= form.radio_button '[booking]flight_id', av.id %></td>
          <td><%= av.departure_airport.code %></td>
          <td><%= av.arrival_airport.code %></td>
          <td><%= av.departure_date.strftime('%Y/%m/%d') %></td>
          <td><%= av.duration %> hours</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= form.hidden_field '[booking]passengers', :value => params[:flight][:passengers] %>
  <%= form.submit 'Choose flight' %>
  <% end %>

<% else %>
  <h3>No flights found :(</h1>
<% end %>
</div>