<h1>Booking</h1>

<div>
  <h3>Chosen flight</h3>
  <%= form_with model: @flight, url: bookings_path do |form| %>
    <table>
    <thead>
      <th>Flight ID</th><th>Departure Airport</th><th>Arrival Airport</th><th>Date</th><th>Duration</th><th>Passengers</th>
    </thead>
    <tbody>
      <tr>
      <td><%= @flight.id %></td>
      <td><%= @flight.departure_airport.code %></td>
      <td><%= @flight.arrival_airport.code %></td>
      <td><%= @flight.departure_date.strftime('%Y/%m/%d') %></td>
      <td><%= @flight.duration %> hours</td>
      <td><%= @num_passengers %></td>
        </tr>
    </tbody>
    </table>
    <%= form.submit 'Book' %>
  <% end %>
</div>